{%  load staticfiles sekizai_tags cms_tags %}

<div class="instagram-container" onclick="openInNewTab('http://instagram.com/{{instance.username}}')">
     <div>
        <div id="instagram{{instance.pk}}">
            <div class="instagram-loading"></div>
	    </div>
   </div>
</div>


{% addtoblock "css" %}
<style type="text/css">
.instagram-loading {
  background: url({% static 'django_instagram/images/ajax-loader.gif' %});
  height: 32px;
  width: 32px;
  margin: 0 auto;
  z-index: 100;
  clear: both;
}
.instagram-container {
clear: both;
margin: 0 auto;
cursor: pointer;
width: {{instance.size}}px;
}
</style>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'django_instagram/js/slick.min.js' %}"></script>
<script type="text/javascript">
var is_ready_instagram{{instance.pk}} = false;
var instagram_data = null;
var loading_flag = true;

function openInNewTab(url) {
  var win = window.open(url, '_blank');
  win.focus();
}
function load_instagram_data(){
if ((instagram_data==null)&&(loading_flag)) {
    loading_flag = true;
 $.ajax({
   url: "{%url "instagram-app-loader"  instance.username%}",
   data: '',
   dataType: 'json',
   contentType: 'application/json',
   type: 'GET',
   cache: false,
   success: function(result) {
      instagram_data = result;
      loading_flag = false;}});}
if (instagram_data!=null){
clearInterval(instagram_periodic);
var outputHtml = '';
for (var i=0; (i < instagram_data.length)&&(i<{{instance.num}}); i++){
var media = instagram_data[i];
outputHtml += '<div >'
outputHtml += '<img src="' + media['thumbnail_src'] + '" title="'+ media['caption'] + '" width="' + {{instance.size}} + 'px"/>';
outputHtml += '</div>'
}
$('#instagram{{instance.pk}}').html(outputHtml);
$('#instagram{{instance.pk}}').slick({
	autoplay : true,
	dots: false,
	centermode: false,
	speed: {{instance.delay}},
	fade: true,
	arrows: false,
	});
}
}
var instagram_periodic = setInterval(load_instagram_data, 2000);
</script>
{% endaddtoblock %}